<ion-view view-title="Game">
  <ion-content>
    <div class="box slide game">
      <div class="row">
      	<div class="col-md-4 col-md-offset-4 col-xs-12">
      	  <button class="button button-icon icon ion-ios-arrow-thin-left menulink" nav-direction="back" ng-click="menu();">
      	  </button>
      	  <button class="button button-icon icon ion-ios-refresh-outline refresh" ng-click="play();">
      	  </button>
      	</div>
      </div>
      <div class="row container_grid">
        <game-grid sizegrid="options.size" class="col-md-4 col-md-offset-4 col-xs-12 grid_intro">
          
        </game-grid>
      </div>      
    </div>
  </ion-content>
</ion-view>